.sidebar{
  width:72px;
  height:100%;
  background:#162535;
  border-right:1px solid rgba(255,255,255,.08);

  display:flex;
  flex-direction:column;
  align-items:center;
  padding:10px 0;
  gap:10px;
}

.sidebar button{
  width:48px;
  height:48px;
  border:none;
  border-radius:14px;
  background:#203448;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:.2s;
}

.sidebar button.active{
  background:#2D7DF6;
  box-shadow:0 0 14px rgba(45,125,246,.35);
}

.sidebar img,
.sidebar svg{
  width:24px;
  height:24px;
}

.sidebar .bottom{
  margin-top:auto;
}